/** MyST examples */
.myst-example {
    border: 1px solid var(--pst-color-border);
    border-left-color: var(--pst-color-info);
    border-left-width: .2em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    margin-bottom: 1rem;
}
.myst-example-source > div[class*="highlight-"]{
    margin: 0;
}
.myst-example-render {
    padding: 0.5rem;
}
.myst-example-render > :first-child {
    margin-top: 0.5rem;
}
